<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>audy sagt</title>
</head>
<body>
	<div class="container">
		<nav <%= 'class="hidden"' unless @lang == "de" %>><img src="images/smiley.gif"><h4>audysagt</h4></nav>
		<nav <%= 'class="hidden"' unless @lang == "lit" %>><img src="images/lithuania.gif"><h4>audysako</h4></nav>
		<form method="post" action="/lang">
			<button type="submit" name="lang" value="de" id="de" <%= 'class="lang-selected"' if @lang == "de" %>>Deutsch</button>
			<button type="submit" name="lang" value="lit" id="lit" <%= 'class="lang-selected"' if @lang == "lit" %>>Lietuviu</button>
			<button type="submit" name="lang" value="ru" id="ru" <%= 'class="lang-selected"' if @lang == "ru" %>>Pусский</button>
			<button type="submit" name="lang" value="fr" id="fr" <%= 'class="lang-selected"' if @lang == "fr" %>>Français</button>
			<button type="submit" name="lang" value="it" id="it" <%= 'class="lang-selected"' if @lang == "it" %>>Italiano</button>
		</form>
		<div class="tweet-wrapper"
			<ul>    
				<% @tweets.each do |tweet| %>
					<li>
						<span class="audy" style='color:#<%= "%06x" % (rand * 0xffffff) %>'>audy sagt: </span><span class="tweet"><%= tweet[0] %></span>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('nav').fadeOut(4000);
	});
</script>
</html>
